* {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.header {
	width: 100%;
	height: 90px;
	background-color: #151c23;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

#logo {
	margin: 15px 0 0 200px;
}
.logo-text {
	margin: 10px 0 0 15px;
	font-family: Garamond, serif;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 2px;
}

.navbar-list {
	display: flex;
	margin: 30px 200px 0 0;
}

.navbar-link {
	color: #ffffff;
	text-decoration: none;
	padding: 10px 20px;
	margin: 10px 20px;
	border-radius: 5px;
	border: 2px solid rgba(0, 0, 0, 0);
}
.active {
	color: #fd3d0d;
	border: 2px solid #fd3d0d;
}

.main {
	width: 100%;
}
.section {
	width: 100%;
	height: 650px;
}

.section-home {
	background-color: #151c23;
	background-image: url('./img/hero-bg.png');
	display: flex;
}
.home-content {
	margin: auto;
	width: 50%;
}
.home-text-header {
	color: #fd3d0d;
	font-size: 80px;
}
.home-text {
	color: #a5a1a1;
	font-size: 30px;
}
.home-button {
	margin-top: 10px;
	padding: 15px 30px;
	background-color: #fd3d0d;
	border: 0px;
	color: #ffffff;
	border-radius: 4px;
	font-size: 20px;
}

.section-product {
	width: 100%;
	text-align: center;
}
.lable {
	margin-top: 30px;
	padding: 15px 30px;
	background-color: #fd3d0d;
	border: 0px;
	color: #ffffff;
	border-radius: 20px;
	font-size: 20px;
	width: 200px;
}
.product-text {
	color: #333435;
	font-size: 50px;
	margin: 20px 5px;
}
.product {
	display: flex;
	justify-content: space-around;
}
.card-product {
	border-radius: 40px;
	width: 320px;
	border: #fdfdfd 2px solid;
	background-color: #fd3d0dde;
	transition: margin-top 1s, border-radius 1s, width 1s;
	padding-bottom: 20px;
}

.card-img {
	object-fit: cover;
	width: 95%;
	height: 200px;
	border-radius: 40px;
	margin: 0;
	margin-top: 10px;
	transition: margin 1s, height 1s, border-radius 1s, width 1s;
}
.card-body {
	text-align: left;
}
.body-box-body {
	width: 95%;
	height: 130px;
}
.body-text-header {
	margin: 5px 0;
	color: #ffffff;
	font-family: Garamond, serif;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
}
.body-text-body {
	margin: 10px;
}
.body-link {
	margin: 20px;
	color: #fcfcfc;
	text-decoration: underline;
}
.section-upload {
	background-color: #151c23;
	background-image: url('./img/hero-bg.png');
	text-align: center;
	color: #fcfcfc;
	align-items: center;
}

.upload-lable {
	margin-top: 30px;
	padding: 15px 20px;
	border: 1px solid #fd3d0d;
	color: #fd3d0d;
	border-radius: 20px;
	font-size: 25px;
	width: 200px;
	margin-top: 50px;
}
.upload-text {
	color: #ffffff;
	font-size: 50px;
	margin: 20px 5px;
	margin-top: 50px;
}

.upload-area {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 60px;
}
.upload-image-area {
	border: #9a9999 dashed 4px;
	border-radius: 10px;
	width: 50%;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	transition: font-size 1s, border 1s, height 1s, border-radius 1s, width 1s;
}

@media only screen and (min-width: 1024px) {
	.navbar-link:hover {
		color: #fd3d0d;
		border-color: #fd3d0d;
		border: 2px solid;
		transition: color 1s, border-color 1s;
	}
	.card-product:hover {
		border-radius: 40px;
		width: 350px;
		border: #fdfdfd 2px solid;
		transition: border-radius 1s, width 1s;
	}
	.card-product:hover .card-img {
		margin-top: 20px;
		border-radius: 40px;
		width: 300px;
		border: #fdfdfd 2px solid;
		transition: margin-top 1s, border-radius 1s, width 1s;
	}
	.upload-image-area:hover {
		border: #cecdcd dashed 5px;
		border-radius: 8px;
		width: 50%;
		height: 220px;
		transition: border 1s, height 1s, border-radius 1s, width 1s, font-size 1s;
		font-size: 20px;
	}
}
@media only screen and (max-width: 1024px) {
	#logo {
		margin: 20px 0 0 10px;
	}
	.navbar-list {
		display: flex;
		margin: 30px 50px 0 0;
	}
	.section {
		height: 560px;
	}
	.home-content {
		margin-left: 10px;
	}
	.home-text-header {
		font-size: 60px;
	}
	.home-text {
		font-size: 20px;
	}
	.home-button {
		padding: 10px 15px;
		font-size: 20px;
	}

	.section-product {
		width: 100%;
		height: 700px;
		text-align: center;
	}
	.lable {
		width: 150px;
	}
	.product-text {
		font-size: 45px;
	}
	.card-product {
		width: 320px;
	}
	.upload-text {
		font-size: 40px;
	}
	.card-body {
		font-size: 15px;
	}
}
@media only screen and (max-width: 768px) {
	.header {
		height: 150px;
		display: grid;
		justify-content: center;
		position: static;
	}

	#logo {
		margin: 10px 0 0 100px;
	}

	.navbar-list {
		margin: 0 0 0 0;
	}

	.section {
		width: 100%;
		height: 350px;
	}
	.section-product {
		height: 900px;
	}
	.home-image {
		display: none;
	}

	.home-content {
		margin: auto;
		width: 100%;
	}
	.home-text-header {
		font-size: 40px;
	}
	.home-text {
		font-size: 25px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.product {
		display: grid;
		justify-content: center;
	}
	.card-product {
		display: flex;
		width: 95%;
		height: 220px;
		padding: 5px 0px 0px 5px;
	}

	.card-body {
		text-align: center;
	}
	.body-box-body {
		width: 95%;
		height: 100px;
	}
	.body-text-header {
		margin: 5px 0;
		font-size: 18px;
	}
	.body-text-body {
		margin: 1px;
	}

	.body-link {
		margin: 0;
		padding: 0;
		display: none;
	}
	.upload-lable {
		margin-top: 20px;
		padding: 5px 5px;

		font-size: 20px;
		width: 150px;
	}
	.upload-text {
		font-size: 20px;
		margin: 10px 5px;
		margin-top: 10px;
	}

	.upload-image-area {
		height: 150px;
	}
}
@media only screen and (max-width: 520px) {
	#logo {
		margin: 15px 0 0 60px;
	}
	.section-product {
		height: 1300px;
	}
	.card-product {
		display: grid;
		height: 360px;
	}
	.home-content {
		margin-left: 8px;
	}
	.navbar-list {
		margin: 0px 0px 0 0;
	}

	.navbar-link {
		padding: 10px 15px;
		margin: 15px 15px;
	}
}
